# Segmenting and Clustering Neighborhoods in Toronto

## 1. Scrape postal codes

In [3]:
import pandas as pd
import numpy as np

In [17]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

# Extract tables
df_url = pd.read_html(url)

# Get first table                                                                                                           
df_table = df_url[0]


df_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 3 columns):
Postal Code      180 non-null object
Borough          180 non-null object
Neighbourhood    180 non-null object
dtypes: object(3)
memory usage: 4.3+ KB

In [18]:
df_table.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [21]:
#drop rows with "Borough" = "Not assigned"
i_borough_na = df_table[df_table["Borough"] == "Not assigned"].index

df_table_1 = df_table.drop(i_borough_na, axis=0)
df_table_1.shape

(103, 3)

In [26]:
#if "Neighbourhood" = "Not assigned" take over "Borough"
def adapt_hood(hood, borough):
    if hood == "Not assigned":
        return borough
    else:
        return hood

df_table_1["Neighbourhood"] = df_table_1.apply(lambda x: adapt_hood(x["Neighbourhood"], x["Borough"]), axis=1)

In [31]:
#check for duplicate Postal Codes
df_group_pc = df_table_1.groupby(["Postal Code"])["Neighbourhood"].count().to_frame().sort_values(by="Neighbourhood", ascending=False)
df_group_pc.head(5)

             Neighbourhood
Postal Code
M1B                      1
M5R                      1
M6G                      1
M6E                      1
M6C                      1

In [32]:
df_table_1.shape

(103, 3)